.content{
  display: flex;
  flex-flow: column;
  height: 83%;
  flex: 1 1 auto;
  background-image: url(../../../../assets/fondobarras.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #4101D4;
}

.content mat-card {
  width: 30%;
   margin: 50px auto;
}

.mat-content{
  margin: 10px auto;
}
