<mat-card>
  <mat-card-title>Iniciar Sesión</mat-card-title>
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="login(userForm.value)">
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Correo"
            formControlName="username"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Contraseña"
            formControlName="password"
          />
        </mat-form-field>
      </p>
      <button type="submit" mat-raised-button color="primary">Entrar</button>
    </form>
    </mat-card-content>
</mat-card>
