<div class="content">
  <div class="contenedor">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="tablero">
          <app-tablero></app-tablero>
        </div>
      </div>
      <div class="col-10 col-sm-9 col-md-13">
        <mat-card>
          <mat-card-title>
            Digite un numero para jugar
          </mat-card-title>
          <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="60" value="" type="number">
          </mat-form-field>
          <button mat-raised-button color="primary" class="mar"> jugar </button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
