.fondo{
  background-color: rgba(54, 27, 107, 0.75);
  border: 2px solid black;
  border-radius: 10px;
  height: 100%;
  width: 210px;
  padding: 2px;
}

.casilla{
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin: 3px 5px;
  background-color: white;

}
.columna{
  display: inline-block;
}
