
.navegacion{
  margin-top: 10px;
  margin-bottom: 10px;
  // height: 30px;
  float: right;
  a{
    white-space: normal;
    text-align: center;
    margin-left: 20px;
    float: right;
  }
  a:hover{
    color:blue;
    cursor: pointer;
  }

}



