<mat-card>
  <mat-card-title>
    <h4>Cartones</h4>
  </mat-card-title>
  <mat-card-content>
    <p>
      Cartones elegidos al azar:
    </p>
    <div class="carton">
      <app-cartontemplate #carton1></app-cartontemplate>
    </div>
    <div class="carton">
      <app-cartontemplate #carton2></app-cartontemplate>
    </div>
    <div class="carton">
      <app-cartontemplate #carton3></app-cartontemplate>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button class="generar" (click)="generarCartones()"> Generar nuevos cartones</button>
    <button mat-button class="comprar"> Comprar</button>
  </mat-card-actions>
</mat-card>
