<mat-card>
  <mat-card-title>Registrarse</mat-card-title>
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="saveUser(userForm.value)">
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Identificacion"
            formControlName="identificacion"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Primer nombre"
            formControlName="primer_nombre"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Segundo Nombre"
            formControlName="segundo_nombre"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Telefono"
            formControlName="telefono"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Primer Apellido"
            formControlName="primer_apellido"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Segundo Apellido"
            formControlName="segundo_apellido"
          />
        </mat-form-field>
      </p>
      <p>

        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Ciudad"
            formControlName="ciudad"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Genero"
            formControlName="genero"
          />
        </mat-form-field>
      </p>
      <mat-divider></mat-divider>
      <h5>Usuario</h5>
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Correo"
            formControlName="correo"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Contraseña"
            formControlName="password"
          />
        </mat-form-field>
      </p>

      <button type="submit" mat-raised-button color="primary">Registrarse</button>
    </form>
  </mat-card-content>
</mat-card>
