<mat-card>
  <mat-card-title>Registrarse</mat-card-title>
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="saveUser(userForm.value)">
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Identificacion"
            formControlName="identificacion"
            id="iptIdentificacion"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Primer nombre"
            formControlName="primer_Nombre"
            id="iptPrimerNombre"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Segundo Nombre"
            formControlName="segundo_Nombre"
            id="iptSegundoNombre"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Telefono"
            formControlName="telefono"
            id="iptTelefono"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Primer Apellido"
            formControlName="primer_Apellido"
            id="iptPrimerApellido"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Segundo Apellido"
            formControlName="segundo_Apellido"
            id="iptSegundoApellido"
          />
        </mat-form-field>
      </p>
      <p>

        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Ciudad"
            formControlName="ciudad"
            id="iptCiudad"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Genero"
            formControlName="genero"
            id="iptGenero"
          />
        </mat-form-field>
      </p>
      <mat-divider></mat-divider>
      <h5>Usuario</h5>
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Correo"
            formControlName="correo"
            id="iptCorreo"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Contraseña"
            formControlName="password"
            id="iptContraseña"
          />
        </mat-form-field>
      </p>

      <button type="submit" mat-raised-button color="primary" id="btnRegistrarseConf">Registrarse</button>
    </form>
  </mat-card-content>
</mat-card>
