.aviso{
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
}

button{

  width: clamp(200px, 20vw, 400px);
  background-color: #FFE523;
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 14px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}
