.contenedor{
  height: 100%;
  width: 100%;
  background-image: url(../../../../assets/fondobarras.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #4101D4;
}

.btn {
  width: clamp(80px,100%,400px);
  border: 2px solid black;
  border-radius: 30px;
  background-color: rgba(25, 10, 56, 0.75);
  color: white;
  padding: 14px 28px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-image: url(../../../../assets/ball1.png);
  background-repeat: no-repeat;
  background-size: clamp(10px,20%,45px);
  background-position: 5% 50%;
}
.btn:hover{
  background-color: rgba(42, 12, 100, 0.75);
}



.contenido{
  padding: 2% 2%;
}

.row{
margin-right: 0px;
margin-left: 0px;
}
